body{
    font-family: roboto;
}
.container{
    position: relative;
    background-image: linear-gradient(to top, #52c7b9 0%, #aae5de 100%);
    height: 100vh;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;  
    overflow: hidden;
}
.container::before{
    content: '';
    height: 45vh;
    width: 28%;
    background-color: white;
    opacity: 0.2;
    position: absolute;
    top: 117px;
    left: -250px;
    transform: rotate(25deg);
}
.container::after{
    content: '';
    height: 100vh;
    width: 28%;
    background-color: white;
    opacity: 0.2;
    position: absolute;
    bottom: 30px;
    right: -250px;
    transform: rotate(-35deg);
}
.container--shapes{
    height: 18%;
    width: 15%;
    position: absolute;
    background-color: white;
    opacity: 0.2;
    bottom: -90px;
    right: 487px;
    transform: rotate(45deg);
}